body {
    background-color: #f5f5f5;}
/* navbar */

.sec-pt5{
    padding-top: 5rem;
}
.sec-padding{
    padding-inline: 3rem;
    padding-block: 4.5rem;
}
.bg-image {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
}
.position-relative {
    position: relative!important;
}
.navbar {
    padding: 20px 0;
    background-color: black;
    position: fixed;
    width: 100%;
    z-index:99;
}

.animation,
.navbar-brand {
    color: #fff;
}

.navbar-brand {
    font-size: 28px;
    margin: 0;
    padding: 0;
    font-weight: 600;
    letter-spacing: 1px;
}
.navbar-brand:hover,
.nav-link:hover {
    color: #fff;
}

.f-drop:hover>.dropdown-menu {
    display: block !important;

}

.navbar-expand-lg .navbar-nav {
    margin-left: auto;
}

.nav-item>.nav-link {
    text-transform: uppercase;
    font-weight: bolder;
    position: relative;
    padding-inline: 1em !important;
    /* color: #fff; */
}


.nested-menu a[role=button] {
    color: black;
    font-size: 1rem;
    font-weight: unset;
    text-transform: none;
    padding: 0.25rem 1rem !important;

}

.nested-menu>.dropdown-menu {
    right: 90%;
    display: block;
    /* visibility: hidden; */
    opacity: 0;
    transition: all .5s;
}

.nested-menu:hover>.dropdown-menu {
    right: 100%;
    opacity: 1;
    visibility: visible;
}


.animation:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0px;
    background-color: #fff;
    transition: all .4s;
}

.animation:hover::before,
.animation:active::before,
.animation:focus::before {
    width: 75%;
}

/* hero section */
#hero {
    height: 100vh;
    background-image: url('/images/hero-bg.jpg');

    padding: 0 !important;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.452);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
}

.hero-title {
    font-size: 4.5rem;
}

.hero-subtitle {
    font-size: 2.5rem;
}


/* the animation  */




/*----------------------- about ---------------*/
.about-info p{
display: flex;
width: 100%;
align-items: baseline;

}
.title-s{
    font-weight: 600;
    color: #1e1e1e;
    font-size: 1.1rem;
}
.skill-mf .progress {
    background-color: #cde1f8;
    margin: 0.5rem 0 1.2rem 0;
    border-radius: 0;
    height: 0.7rem;
}
.title-box-2{
    margin-bottom: 3rem;
}
.title-left{
    font-size: 2rem;
    position: relative;
    
}
.title-left:before {
    content: "";
    position: absolute;
    height: 3px;
    background-color: #0078ff;
    width: 100px;
    bottom: -12px;
}

/* services */

.title-a{
    text-decoration: none;
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
}


.subtitle-a {
    text-decoration: none;
    color: #4e4e4e;
}

.line-mf {
    width: 40px;
    height: 5px;
    background-color: #0078ff;
    margin: 0 auto;
}
.title-box {
    margin-bottom: 4rem;
}
.service-box {
    background-color: #fff;
    padding: 2.5rem 1.3rem;
    border-radius: 1rem;
    margin-bottom: 3rem;
    text-align: center;
    box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.1);

}
.service-box .service-ico {
    margin-bottom: 1rem;
    color: #1e1e1e;
}
.service-box .ico-circle {
    transition: all 500ms ease;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.ico-circle {
    height: 100px;
    width: 100px;
    font-size: 2rem;
    border-radius: 50%;
    line-height: 1.55;
    margin: 0 auto;
    text-align: center;
    box-shadow: 0 0 0 10px #0078ff;
    display: block;
}
.service-box:hover .ico-circle {
    transition: all 500ms ease;
    color: #fff;
    background-color: #0078ff;
    box-shadow: 0 0 0 10px #cde1f8;
}

/* section counter */

.section-counter{
    background-image: url('/images/counters-bg.jpg');

}
.paralax-mf {
    position: relative;
    padding: 8rem 0;
}
.overlay-mf {
    position: absolute;
    top: 0;
    left: 0px;
    padding: 0;
    height: 100%;
    width: 100%;
    opacity: 0.7;
}
.overlay-mf {
    background-color: #0078ff;
}
.counter-box {
    color: #fff;
    text-align: center;
}
.counter-ico {
    margin-bottom: 1rem;
}
.counter-ico .ico-circle {
    height: 60px;
    width: 60px;
    line-height: 1.5;
    box-shadow: 0 0 0 10px #cde1f8;
    line-height: 1.5 !important;
}

