/* navbar */

.sec-pt5{
    padding-top: 5rem;
}
.sec-padding{
    padding-inline: 3rem;
    padding-block: 4.5rem;
}
.navbar {
    padding: 20px 0;
    background-color: black;
    position: fixed;
    width: 100%;
    z-index:99;
}

.animation,
.navbar-brand {
    color: #fff;
}

.navbar-brand {
    font-size: 28px;
    margin: 0;
    padding: 0;
    font-weight: 600;
    letter-spacing: 1px;
}
.ico-circle::before{
    content: '\f224';
}
.navbar-brand:hover,
.nav-link:hover {
    color: #fff;
}

.f-drop:hover>.dropdown-menu {
    display: block !important;

}

.navbar-expand-lg .navbar-nav {
    margin-left: auto;
}

.nav-item>.nav-link {
    text-transform: uppercase;
    font-weight: bolder;
    position: relative;
    padding-inline: 1em !important;
    /* color: #fff; */
}


.nested-menu a[role=button] {
    color: black;
    font-size: 1rem;
    font-weight: unset;
    text-transform: none;
    padding: 0.25rem 1rem !important;

}

.nested-menu>.dropdown-menu {
    right: 90%;
    display: block;
    /* visibility: hidden; */
    opacity: 0;
    transition: all .5s;
}

.nested-menu:hover>.dropdown-menu {
    right: 100%;
    opacity: 1;
    visibility: visible;
}


.animation:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0px;
    background-color: #fff;
    transition: all .4s;
}

.animation:hover::before,
.animation:active::before,
.animation:focus::before {
    width: 75%;
}

/* hero section */
#hero {
    height: 100vh;
    background-image: url('/images/hero-bg.jpg');
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    padding: 0 !important;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.452);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
}

.hero-title {
    font-size: 4.5rem;
}

.hero-subtitle {
    font-size: 2.5rem;
}


/* the animation  */




/*----------------------- about ---------------*/
.about-info p{
display: flex;
width: 100%;
align-items: baseline;

}
.title-s{
    font-weight: 600;
    color: #1e1e1e;
    font-size: 1.1rem;
}
.skill-mf .progress {
    background-color: #cde1f8;
    margin: 0.5rem 0 1.2rem 0;
    border-radius: 0;
    height: 0.7rem;
}
.title-box-2{
    margin-bottom: 3rem;
}
.title-left{
    font-size: 2rem;
    position: relative;
    
}
.title-left:before {
    content: "";
    position: absolute;
    height: 3px;
    background-color: #0078ff;
    width: 100px;
    bottom: -12px;
}